<div>
    <h2 id="page-heading">
        <span jhiTranslate="coronaTrackerApp.country.home.title">Countries</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-country" [routerLink]="['/country/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="coronaTrackerApp.country.home.createLabel">
            Create new Country
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="countries?.length === 0">
        <span jhiTranslate="coronaTrackerApp.country.home.notFound">No countries found</span>
    </div>
    <div class="table-responsive" *ngIf="countries?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="countryName"><span jhiTranslate="coronaTrackerApp.country.countryName">Country Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="countryAbbreviation"><span jhiTranslate="coronaTrackerApp.country.countryAbbreviation">Country Abbreviation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let country of countries ;trackBy: trackId">
                <td><a [routerLink]="['/country', country.id, 'view' ]">{{country.id}}</a></td>
                <td>{{country.countryName}}</td>
                <td>{{country.countryAbbreviation}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/country', country.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/country', country.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'country', { outlets: { popup: country.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
