<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="country">
            <h2><span jhiTranslate="coronaTrackerApp.country.detail.title">Country</span> {{country.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coronaTrackerApp.country.countryName">Country Name</span></dt>
                <dd>
                    <span>{{country.countryName}}</span>
                </dd>
                <dt><span jhiTranslate="coronaTrackerApp.country.countryAbbreviation">Country Abbreviation</span></dt>
                <dd>
                    <span>{{country.countryAbbreviation}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/country', country.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
