<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="criteria">
            <h2><span jhiTranslate="coronaTrackerApp.criteria.detail.title">Criteria</span> {{criteria.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coronaTrackerApp.criteria.name">Name</span></dt>
                <dd>
                    <span>{{criteria.name}}</span>
                </dd>
                <dt><span jhiTranslate="coronaTrackerApp.criteria.value">Value</span></dt>
                <dd>
                    <span>{{criteria.value}}</span>
                </dd>
                <dt><span jhiTranslate="coronaTrackerApp.criteria.country">Country</span></dt>
                <dd>
                    <div *ngIf="criteria.country">
                        <a [routerLink]="['/country', criteria.country?.id, 'view']">{{criteria.country?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/criteria', criteria.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
