<div>
    <h2 id="page-heading">
        <span jhiTranslate="coronaTrackerApp.department.home.title">Departments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-department" [routerLink]="['/department/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="coronaTrackerApp.department.home.createLabel">
            Create new Department
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="departments?.length === 0">
        <span jhiTranslate="coronaTrackerApp.department.home.notFound">No departments found</span>
    </div>
    <div class="table-responsive" *ngIf="departments?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="coronaTrackerApp.department.departmentName">Department Name</span></th>
            <th><span jhiTranslate="coronaTrackerApp.department.location">Location</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let department of departments ;trackBy: trackId">
                <td><a [routerLink]="['/department', department.id, 'view' ]">{{department.id}}</a></td>
                <td>{{department.departmentName}}</td>
                <td>
                    <div *ngIf="department.location">
                        <a [routerLink]="['../location', department.location?.id, 'view' ]" >{{department.location?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/department', department.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/department', department.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'department', { outlets: { popup: department.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
