<div>
    <form name="editForm" role="form" novalidate (ngSubmit)="loadAll()" [formGroup]="editForm">
    <h2 id="page-heading">
        <span>CoronaVirus Cases ({{editForm.get('specificDate').value}})</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="form-group">
        <label class="form-control-label">Please choose a date</label>
        <div class="d-flex">
            <input id="field_specificDate" type="date" class="form-control" name="specificDate" formControlName="specificDate" placeholder="YYYY-MM-DD"/>
        </div>
    </div>
    <button type="submit" id="save-entity" class="btn btn-primary">
        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Search</span>
    </button>
    <button type="button" id="export-entity" class="btn btn-success" (click)="exportexcel()">
        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Export Excel</span>
    </button>
    <br/>
    <div class="alert alert-warning" *ngIf="casesStatuses?.length === 0">
        <span jhiTranslate="coronaTrackerApp.casesStatus.home.notFound">No casesStatuses found</span>
    </div>
    </form>
    <div class="table-responsive" *ngIf="casesStatuses?.length > 0">
        <table class="table table-striped" id="excel-table">
            <thead>
            <tr>
            <th><span>iso_code</span></th>
            <th><span>location</span></th>
            <th><span>date</span></th>
            <th><span>total_cases</span></th>
            <th><span>total_deaths</span></th>
            <th><span>confirmed</span></th>
            <th><span>fatality_rate</span></th>
            <th><span>Last_update</span></th>
            <th><span>recovered</span></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let casesStatus of casesStatuses ;trackBy: trackId">
                <td>{{casesStatus.region.iso}}</td>
                <td>{{casesStatus.region.name}}</td>
                <td>{{casesStatus.date}}</td>
                <td>{{casesStatus.confirmed}}</td>
                <td>{{casesStatus.deaths}}</td>
                <td>{{casesStatus.active}}</td>
                <td>{{casesStatus.fatality_rate}}</td>
                <td>{{casesStatus.last_update}}</td>
                <td>{{casesStatus.recovered}}</td>
             </tr>
            </tbody>
        </table>
    </div>
</div>
