<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="casesStatus">
            <h2><span>Cases Status By Country</span> <b> {{casesStatus.location.countryOrRegion}} </b></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coronaTrackerApp.casesStatus.country">Country</span></dt>
                <dd>
                    <span>{{casesStatus.location.countryOrRegion}}</span>
                </dd>
                <dt><span jhiTranslate="coronaTrackerApp.casesStatus.countryAbbreviation">Country Abbreviation</span></dt>
                <dd>
                    <span>{{casesStatus.location.isoCode}}</span>
                </dd>
                <dt><span jhiTranslate="coronaTrackerApp.casesStatus.totalCases">Total Cases</span></dt>
                <dd>
                    <span>{{casesStatus.stats.totalConfirmedCases}}</span>
                </dd>
                <dt><span jhiTranslate="coronaTrackerApp.casesStatus.newCases">New Cases</span></dt>
                <dd>
                    <span>{{casesStatus.stats.newlyConfirmedCases}}</span>
                </dd>
                <dt><span jhiTranslate="coronaTrackerApp.casesStatus.totalDeaths">Total Deaths</span></dt>
                <dd>
                    <span>{{casesStatus.stats.totalDeaths}}</span>
                </dd>
                <dt><span jhiTranslate="coronaTrackerApp.casesStatus.newDeaths">New Deaths</span></dt>
                <dd>
                    <span>{{casesStatus.stats.newDeaths}}</span>
                </dd>
                <dt><span jhiTranslate="coronaTrackerApp.casesStatus.totalRecovered">Total Recovered</span></dt>
                <dd>
                    <span>{{casesStatus.stats.totalRecoveredCases}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

        </div>
    </div>
    <div class="col-12">

        <div class="table-responsive" *ngIf="casesStatus?.stats.history.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                <th><span>Date</span></th>
                <th><span>Confirmed cases</span></th>
                <th><span>Deaths</span></th>
                <th><span>Recovered</span></th>
               </tr>
                </thead>
                <tbody>
                <tr *ngFor="let casesStatus of casesStatus.stats.history ;trackBy: trackId">
                    <td>{{casesStatus.date}}</td>
                    <td>{{casesStatus.confirmed}}</td>
                    <td>{{casesStatus.deaths}}</td>
                    <td>{{casesStatus.recovered}}</td>
                   
                </tr>
                </tbody>
            </table>

    </div>
</div>
