<div>
    <h2 id="page-heading">
        <span>CoronaVirus Cases (Last 24 Hours)</span>
    </h2>
    <hr>
    <h3>Summary</h3>
    <ul>
        <li>NewConfirmed: {{globalData.NewConfirmed}}</li>
        <li>TotalConfirmed: {{globalData.TotalConfirmed}}</li>
        <li>NewDeaths: {{globalData.NewDeaths}}</li>
        <li>TotalDeaths: {{globalData.TotalDeaths}}</li>
        <li>NewRecovered: {{globalData.NewRecovered}}</li>
        <li>TotalRecovered: {{globalData.TotalRecovered}}</li>
    </ul>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="casesStatuses?.length === 0">
        <span jhiTranslate="coronaTrackerApp.casesStatus.home.notFound">No casesStatuses found</span>
    </div>
    <div class="table-responsive" *ngIf="casesStatuses?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th ><span jhiTranslate="coronaTrackerApp.casesStatus.countryAbbreviation">Country Abbreviation</span></th>
            <th ><span jhiTranslate="coronaTrackerApp.casesStatus.country">Country</span></th>
            <th ><span>Date</span></th>
            <th ><span jhiTranslate="coronaTrackerApp.casesStatus.totalCases">Total Cases</span></th>
            <th><span jhiTranslate="coronaTrackerApp.casesStatus.newCases">New Cases</span></th>
            <th><span jhiTranslate="coronaTrackerApp.casesStatus.totalDeaths">Total Deaths</span></th>
            <th><span jhiTranslate="coronaTrackerApp.casesStatus.newDeaths">New Deaths</span></th>
            <th><span jhiTranslate="coronaTrackerApp.casesStatus.totalRecovered">Total Recovered</span></th>
            <th><span>New Recovered</span></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let casesStatus of casesStatuses ;trackBy: trackId">
                <td><a [routerLink]="['/cases-status', casesStatus.CountryCode, 'view' ]">{{casesStatus.CountryCode}}</a></td>
                <td>{{casesStatus.Country}}</td>
                <td>{{casesStatus.Date}}</td>
                <td>{{casesStatus.TotalConfirmed}}</td>
                <td>{{casesStatus.NewConfirmed}}</td>
                <td>{{casesStatus.TotalDeaths}}</td>
                <td>{{casesStatus.NewDeaths}}</td>
                <td>{{casesStatus.TotalRecovered}}</td>
                <td>{{casesStatus.NewRecovered}}</td>
             </tr>
            </tbody>
        </table>
    </div>
</div>
