<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cases-status-heading" jhiTranslate="coronaTrackerApp.casesStatus.home.createOrEditLabel">Create or edit a Cases Status</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coronaTrackerApp.casesStatus.country" for="field_country">Country</label>
                    <input type="text" class="form-control" name="country" id="field_country"
                           formControlName="country"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coronaTrackerApp.casesStatus.countryAbbreviation" for="field_countryAbbreviation">Country Abbreviation</label>
                    <input type="text" class="form-control" name="countryAbbreviation" id="field_countryAbbreviation"
                           formControlName="countryAbbreviation"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coronaTrackerApp.casesStatus.totalCases" for="field_totalCases">Total Cases</label>
                    <input type="text" class="form-control" name="totalCases" id="field_totalCases"
                           formControlName="totalCases"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coronaTrackerApp.casesStatus.newCases" for="field_newCases">New Cases</label>
                    <input type="text" class="form-control" name="newCases" id="field_newCases"
                           formControlName="newCases"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coronaTrackerApp.casesStatus.totalDeaths" for="field_totalDeaths">Total Deaths</label>
                    <input type="text" class="form-control" name="totalDeaths" id="field_totalDeaths"
                           formControlName="totalDeaths"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coronaTrackerApp.casesStatus.newDeaths" for="field_newDeaths">New Deaths</label>
                    <input type="text" class="form-control" name="newDeaths" id="field_newDeaths"
                           formControlName="newDeaths"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coronaTrackerApp.casesStatus.totalRecovered" for="field_totalRecovered">Total Recovered</label>
                    <input type="text" class="form-control" name="totalRecovered" id="field_totalRecovered"
                           formControlName="totalRecovered"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coronaTrackerApp.casesStatus.activeCases" for="field_activeCases">Active Cases</label>
                    <input type="text" class="form-control" name="activeCases" id="field_activeCases"
                           formControlName="activeCases"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coronaTrackerApp.casesStatus.seriousCritical" for="field_seriousCritical">Serious Critical</label>
                    <input type="text" class="form-control" name="seriousCritical" id="field_seriousCritical"
                           formControlName="seriousCritical"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coronaTrackerApp.casesStatus.casesPerMillPop" for="field_casesPerMillPop">Cases Per Mill Pop</label>
                    <input type="text" class="form-control" name="casesPerMillPop" id="field_casesPerMillPop"
                           formControlName="casesPerMillPop"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coronaTrackerApp.casesStatus.flag" for="field_flag">Flag</label>
                    <input type="text" class="form-control" name="flag" id="field_flag"
                           formControlName="flag"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
