<div>
    <h2 id="page-heading">
        <span jhiTranslate="coronaTrackerApp.jobHistory.home.title">Job Histories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-job-history" [routerLink]="['/job-history/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="coronaTrackerApp.jobHistory.home.createLabel">
            Create new Job History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="jobHistories?.length === 0">
        <span jhiTranslate="coronaTrackerApp.jobHistory.home.notFound">No jobHistories found</span>
    </div>
    <div class="table-responsive" *ngIf="jobHistories?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startDate"><span jhiTranslate="coronaTrackerApp.jobHistory.startDate">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endDate"><span jhiTranslate="coronaTrackerApp.jobHistory.endDate">End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="language"><span jhiTranslate="coronaTrackerApp.jobHistory.language">Language</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="job.id"><span jhiTranslate="coronaTrackerApp.jobHistory.job">Job</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="department.id"><span jhiTranslate="coronaTrackerApp.jobHistory.department">Department</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="employee.id"><span jhiTranslate="coronaTrackerApp.jobHistory.employee">Employee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let jobHistory of jobHistories ;trackBy: trackId">
                <td><a [routerLink]="['/job-history', jobHistory.id, 'view' ]">{{jobHistory.id}}</a></td>
                <td>{{jobHistory.startDate | date:'medium'}}</td>
                <td>{{jobHistory.endDate | date:'medium'}}</td>
                <td jhiTranslate="{{'coronaTrackerApp.Language.' + jobHistory.language}}">{{jobHistory.language}}</td>
                <td>
                    <div *ngIf="jobHistory.job">
                        <a [routerLink]="['../job', jobHistory.job?.id, 'view' ]" >{{jobHistory.job?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jobHistory.department">
                        <a [routerLink]="['../department', jobHistory.department?.id, 'view' ]" >{{jobHistory.department?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jobHistory.employee">
                        <a [routerLink]="['../employee', jobHistory.employee?.id, 'view' ]" >{{jobHistory.employee?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/job-history', jobHistory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/job-history', jobHistory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'job-history', { outlets: { popup: jobHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
