<div>
    <h2 id="page-heading">
        <span jhiTranslate="coronaTrackerApp.job.home.title">Jobs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-job" [routerLink]="['/job/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="coronaTrackerApp.job.home.createLabel">
            Create new Job
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="jobs?.length === 0">
        <span jhiTranslate="coronaTrackerApp.job.home.notFound">No jobs found</span>
    </div>
    <div class="table-responsive" *ngIf="jobs?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="jobTitle"><span jhiTranslate="coronaTrackerApp.job.jobTitle">Job Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="minSalary"><span jhiTranslate="coronaTrackerApp.job.minSalary">Min Salary</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="maxSalary"><span jhiTranslate="coronaTrackerApp.job.maxSalary">Max Salary</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="employee.id"><span jhiTranslate="coronaTrackerApp.job.employee">Employee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let job of jobs ;trackBy: trackId">
                <td><a [routerLink]="['/job', job.id, 'view' ]">{{job.id}}</a></td>
                <td>{{job.jobTitle}}</td>
                <td>{{job.minSalary}}</td>
                <td>{{job.maxSalary}}</td>
                <td>
                    <div *ngIf="job.employee">
                        <a [routerLink]="['../employee', job.employee?.id, 'view' ]" >{{job.employee?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/job', job.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/job', job.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'job', { outlets: { popup: job.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="jobs?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
