<div class="row">
    <!-- <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div> -->
    <div class="col-md-12">
        <h1 class="display-4">Predicting COVID-19 Spread Level using Socio-Economic Indicators and Machine Learning Techniques</h1>
        <p class="lead">The new so-called COVID-19 virus is
            unfortunately founded to be highly transmissible across the
            globe. In this study, we propose a novel approach for
            estimating the spread level of the virus for each country for
            three different dates between April and May 2020. Unlike
            previous studies, this investigation does not process any
            historical data of spread but rather relies on the socioeconomic
            indicators of each country. Actually, more than 1000
            socio-economic indicators and more than 190 countries were
            processed in this study. Concretely, data preprocessing
            techniques and feature selection approaches were applied to
            extract relevant indicators for the classification process.
            Countries around the globe were assigned to 4 classes of
            spread. To find the class level of each country, many classifiers
            were proposed based especially on Support Vectors Machines
            (SVM), Multi-Layer Perceptrons (MLP) and Random Forests
            (RF). Obtained results show the relevance of our approach
            since many classifiers succeeded in capturing the spread level,
            especially the RF classifier, with an F-measure equal to 93.85%
            for April 15th, 2020. Moreover, a feature importance study is
            conducted to deduce the best indicators to build robust spread
            level classifiers. However, as pointed out in the discussion,
            classifiers may face some difficulties for future dates since the
            huge increase of cases and the lack of other relevant factors
            affecting this widespread.</p>

        <!-- <div class="container"> -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="listing listing-default">
                        <div class="shape">
                            <div class="shape-text">1st April</div>
                        </div>
                        <div class="listing-content">
                            <h3 class="lead">Total cases April 2020</h3>
                            <p><a href="content/files/total_cases_april.xlsx" target="_blank"> Click to download </a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="listing listing-radius listing-success">
                        <div class="shape">
                            <div class="shape-text">15 April</div>
                        </div>
                        <div class="listing-content">
                            <h3 class="lead">Total cases Mid-April 2020</h3>
                            <p><a href="content/files/total_cases_miapril.xlsx" target="_blank"> Click to download </a></p>                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="listing listing-danger">
                        <div class="shape">
                            <div class="shape-text">May</div>
                        </div>
                        <div class="listing-content">
                            <h3 class="lead">Total cases May 2020</h3>
                            <p><a href="content/files/total_cases_may.xlsx" target="_blank"> Click to download </a></p>                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="listing listing-primary">
                        <div class="shape">
                            <div class="shape-text">Ind.</div>
                        </div>
                        <div class="listing-content">
                            <h3 class="lead">Indicators</h3>
                            <p><a href="content/files/2017.xlsx" target="_blank"> Click to download </a></p>                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>